/* This file is for your main application css. */

.container-org-header .org-avatar {
  width: 200px;
  border: solid 1px white;
}
.container-org-header .org-description {
  color: #777777;
}

body { padding-top: 85px; background-color: white;}

#logo { height: 60px }
