/* This file is for your main application css. */

body {
    padding-top: 85px;
    background-color: white;
}

#logo {
    height: 30px;
    margin: 0;
}

@media (min-width: 1200px) {
    #logo {
        height: 60px
    }
}

div.line-mf {
    background-color: #00aad4;
}

.navbar-b.navbar-reduce .nav-link,
.navbar-b.navbar-reduce .nav-link:hover {
    color: #00aad4;
}

.navbar-b.navbar-reduce .nav-link:before {
    background-color: #00aad4;
}

.btn-link,
a:hover {
    color: #00aad4;
}

.card-header h5 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.org-repos-cards .card,
.result-repos-cards .card {
    flex: 0 0 31%;
    margin-left: 1%;
    margin-right: 1%;
}

.search-form input {
    width: 300px;
}

.slogan {
    padding-top: 5px;
}

.language-button-container,
.topic-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.language-button-container>a {
    border: none;
    margin: 5px;
}

.topic-button-container>a {
    margin: 5px;
}

.card-blog .card-category {
    padding-top: 3px;
    background-color: rgba(131, 140, 150, .8);
}

.card-category-border {
    display: inline-block;
    padding: 2px;
    overflow: hidden;
    background-color: #838c96;
    border-radius: 6px;
    line-height: .8;
}

a.card-fork {
    display: block;
    font-size: small;
    margin-bottom: 6px;
}

.coop-list-item>a>div {
    justify-items: center;
}

.coop-list-item img {
    height: 60px;
    min-width: 60px;
}

.coop-list-item .row>div {
    align-self: center;
}

.coop-list-item .org-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.coop-list-item .org-name span {
    font-size: 1.4em;
    padding-left: 1em;
}

.coop-list-item .org-location span {
    font-size: .9em;
}

@media (max-width: 767px) {
    .coop-list-item .org-details {
        margin-top: 15px;
    }
}

@media (min-width: 300px) {
    .counter-box {
        transform: scale(0.7);
    }
}

@media (min-width: 600px) {
    .counter-box {
        transform: scale(0.9);
    }
}

@media (min-width: 800px) {
    .counter-box {
        transform: scale(1);
    }
}

.lang-progress-bar {
    display: flex;
    width: 100%;
}

.lang-progress-bar>div {
    display: inline-block;
    height: 10px;
}