/* This file is for your main application css. */

.container-org-header .org-avatar {
  width: 200px;
  border: solid 1px white;
}
.container-org-header .org-description {
  color: #777777;
}

body { padding-top: 85px; background-color: white;}

#logo {
  height: 30px;
  margin: 0;
}

@media (min-width: 1200px) {
  #logo { height: 60px }
}

div.line-mf{
  background-color: #00aad4;
}
.navbar-b.navbar-reduce .nav-link, .navbar-b.navbar-reduce .nav-link:hover{
  color: #00aad4;
}

.navbar-b.navbar-reduce .nav-link:before{
  background-color: #00aad4;
}

.skill-mf .progress .progress-bar{
  background-color: #00aad4;
}

.skill-mf .progress{
  background-color: #b0f4ff;
}

.btn-link, a:hover {
  color: #00aad4;
}

.card-header h5{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.org-repos-cards .card {
  flex: 0 0 31%;
  margin-left: 1%;
  margin-right: 1%;
}

.slogan {
  padding-top: 5px;
}