name: CI - Test

on: [push, pull_request]

jobs:
  test:
    name: Run elixir tests
    runs-on: ubuntu-latest

    container:
      image: elixir:1.9.1-slim

    steps:
    - uses: actions/checkout@v1
    - name: Install dependencies
      run: |
        mix local.rebar --force
        mix local.hex --force
        mix deps.get
    - name: Check code format
      run: mix format --check-formatted
    - name: Run tests
      run: mix test
